/* This is custom stylesheet specifically for Developer-ReCap-Autodesk.github.io */
.app-api-section {
	margin-bottom: 30px;
}

.center {
	text-align: center;
}

#dropAreaContainer {
	margin-left: auto;
	margin-right: auto;
}

.mybutton {
	background-color: #428bca;
	color: white;
	padding: 7px;
	border-bottom-color: #3c7eb8;
}

.credentials label {
	display: inline-block;
	width: 140px;
	text-align: right;
	padding-right: 20px;
	font: inherit;
}

.credentials .app-type label {
	display: inline-block;
	width: auto;
	font: inherit;
}

.credentials .app-type div {
	padding-left: 142px;
}

.credentials input[type="text"] {
	width: 250px;
	font: inherit;
}

.credentials fieldset {
	padding-left: 20px;
	font: inherit;
	margin-bottom: 10px;
}

.credentials legend {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

.noshow {
	display: none;
}